@use "../../styles/partials/mixins" as mixins;
@use "../../styles/partials/breakpoints" as breakpoints;

.main-video-title {
  @include mixins.mobile-page-header; //this text is too bold vs mockup but no other font weights available
  font-size: 24px;
  margin-top: 24px;
  margin-bottom: 16px;
  padding: 0 16px;
}

@include breakpoints.medium {
  .main-video-title {
    @include mixins.desk-tab-page-header;
    padding: 0 36px;
  }
}

@include breakpoints.large {
  .main-video-title {
    @include mixins.desk-tab-page-header;
    padding: 0px 24px 0px 144px;
  }
}
