// PRIMARY COLORS

$primary-dark: #323232;

$primary-color: #0095ff;

$primary-med: #afafaf;

$primary-light: #ffffff;

// SECONDARY COLORS

$secondary-dark: #000000;

$secondary-color: #0065ad;

$secondary-med: #e1e1e1;

$secondary-light: #fafafa;
