@use "./partials/fonts" as *;
@use "./partials/colors" as *;

html,
body {
  margin: 0;
  font-family: "Avenir Next";
  // line-height: 1;
  height: 100vh;
  box-sizing: border-box;
  color: $primary-dark;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
