@use "./partials/fonts" as *;

html,
body {
  margin: 0;
  font-family: "Avenir Next";
  line-height: 1.8rem;
  height: 100vh;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
