@use "../../styles/partials/mixins";
@use "../../styles/partials/breakpoints" as breakpoints;

.video-description {
  padding: 0px 16px;

  &__text {
    @include mixins.mobile-body-copy;
    margin-bottom: 0px;
  }
}

@include breakpoints.medium {
  .video-description {
    padding: 0px 36px;
    &__text {
      margin-top: 24px;
      @include mixins.desk-tab-body-copy;
      margin-bottom: 36px;
    }
  }
}

@include breakpoints.large {
  .video-description {
    padding: 0px 24px 0 144px;
  }
}
