@use "../../styles/partials/colors" as colors;
@use "../../styles/partials/fonts" as fonts;
@use "../../styles/partials/mixins" as mixins;
@use "../../styles/partials/breakpoints" as breakpoints;

.video-stats {
  padding: 12px 0px;
  margin: 0px 16px;
  display: flex;
  border-top: 1px solid colors.$secondary-med;
  border-bottom: 1px solid colors.$secondary-med;

  &__cont-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 12px;
  }
  &__cont-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
  }

  &__icon-info-cont {
    display: flex;
    gap: 8px;
  }

  &__creator {
    @include mixins.mobile-subheader;
  }

  &__info {
    @include mixins.mobile-body-copy;
    color: colors.$primary-med;
  }

  &__icon-cont {
    width: 24px;
    height: 18px;
  }
}

@include breakpoints.medium {
  .video-stats {
    padding: 0px 0px 8px 0px;
    margin: 0px 36px;
    border-top: none;
    justify-content: space-between;

    &__cont-left,
    &__cont-right {
      flex: 0 1 auto;
      flex-direction: row;
      justify-content: flex-start;
      gap: 16px;
    }

    &__icon-info-cont {
      gap: 8px;
    }

    &__creator {
      @include mixins.desk-tab-subheader;
    }

    &__info {
      @include mixins.desk-tab-subheader;
      color: colors.$primary-med;
      font-weight: 400;
    }

    &__icon-cont {
      width: auto;
      height: auto;
    }
  }
}

@include breakpoints.large {
  .video-stats {
    padding: 0px 0px 8px 0px;
    margin: 0px 144px;
    border-top: none;
    justify-content: space-between;

    &__cont-left,
    &__cont-right {
      flex: 0 1 auto;
      flex-direction: row;
      justify-content: flex-start;
      gap: 16px;
    }

    &__icon-info-cont {
      gap: 8px;
    }

    &__creator {
      @include mixins.desk-tab-subheader;
    }

    &__info {
      @include mixins.desk-tab-subheader;
      color: colors.$primary-med;
      font-weight: 400;
    }

    &__icon-cont {
      width: auto;
      height: auto;
    }
  }
}
